body{
    background-image: url("/static/img/background_body.jpg");
    color: white;
    font-size: 10pt;
}

header, footer{
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

/*header{*/
/*    height: 70px;*/
/*}*/

#header-text{
    margin: 0 auto;
    font-size: 25pt;
}
header img{
    margin-top: 5px;
}

#new_board{
    width: 95%;
    margin: 15px auto;
}

#new_board_header{
    font-size: larger;
    border: 2px solid #3B666B;
    height: 50px;
}

#new_board_header button{
    margin: 5px 0 5px 15px;
}

#new_board_header span{
    font-size: smaller;
    margin: 5px 0 5px 15px;
}

#new_board_header img{
    height: 30px;
    margin: 5px 15px 0 0;
    float: right;
}

.new_board_tr_th{
    border: 1px solid #3B666B;
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 25%;
}

#elem_show{
    border-color: #9C1A1C;
    display: none;
}

.elem_hide{
    display: none;
}

.new_board_tbody{
    font-size: larger;
    height: 40px;
    background-color: #485F6E;
}

.new_board_td{
    border: 1px solid blue;
    text-align: center;
    margin: 0 auto;
    /*width: 25%;*/
    min-height: 200px;
}

#boards{
    margin-top: 15px;
}

#boards_header{
    width: 95%;
    margin: 15px auto;
}

#boards_header span{
    font-size: 20pt;
}

#boards_header button{
    display: block;
    float: right;
    margin: auto 0;
}

#boards_header button:hover{
    background-color: #3B666B;
}

#boards {
    width: 95%;
    margin: 15px auto;
    /*border: 1px solid yellow;*/
}

.user-board{
    border: 1px solid red;
    margin-top: 15px;
}

/*user cards*/
.card{
    /*padding-top: 15px;*/
    width: 98%;
    margin: 5px auto;
    height: 50px;
    /*border: 1px solid #9C1A1C;*/
    background-color: rgba(255,255,255,0.3);
}

.new_board_td{
    padding-left: 0;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}