body{
    background-image: url("/static/img/background_body.jpg");
    /*background-repeat: repeat;*/
    color: white;
}

header, footer{
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
#header-text{
    margin: 0 auto;
    font-size: 25pt;
}
header img{
    margin-top: 5px;
}
#boards_header{
    width: 95%;
    margin: 15px auto;
}

#boards_header span{
    font-size: 20pt;
}

#boards_header button{
    display: block;
    float: right;
}

#boards_header button:hover{
    background-color: #3B666B;
}

#boards {
    width: 95%;
    margin: 15px auto;
    border: 1px solid yellow;
    background-color: green;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}