{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div id="boards_header">
        <span>ProMan</span>
        <button id="new_board_btn">+ New Board</button>
    </div>

    <div id="new_board" style="display: none">
        <div id="new_board_header">
            <button id="add_new_card">+ New Card</button>
            <img id="show_boarder_details" src="/static/img/up_arrow.png">
        </div>
        <div id="board_details">
                <div class="new_board_tr_th">
                    <div class="new_board_tbody">New</div>
                    <div class="new_board_td"></div>
                </div>

                <div class="new_board_tr_th">
                    <div class="new_board_tbody">In progress</div>
                    <div class="new_board_td"></div>
                </div>

                <div class="new_board_tr_th">
                    <div class="new_board_tbody">Testing</div>
                    <div class="new_board_td"></div>
                </div>

                <div class="new_board_tr_th">
                    <div class="new_board_tbody">Done</div>
                    <div class="new_board_td"></div>
                </div>
        </div>
    </div>

    <div id="boards">
    </div>
{% endblock %}
